/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
} */

.error-message {
  color: red;
  width: 100%; 
  max-width: 400px; 
  margin: 1 auto; 
  text-align: center; 
  padding: 5px;
  border-radius: 5px; 
  font-size: 15px;
}

#main-footer {
  position: relative;
  font-size: small;
  width: 100%;
  background-color: #fefefe;
  border-top: 1px solid rgb(216, 214, 214);
  padding: 10px;
  color: #646cff;
  min-height: 200px;
}

#main-footer a {
  color: #646cff;
  text-decoration: inherit;
}
.signup-button{
  background-color: rgb(245, 110, 26);
  color:white
}
.signup-button:hover{
  background-color: rgb(220, 97, 20);
  color:white
}

@media (max-width: 768px) {

  #main-footer {
    min-height: 200px; 
  }

}
.container-custom {
  margin-top: 70px; 
}

.form-title{
  color:rgb(3, 26, 131);
  font-weight: bold;
  font-size: small;
}
