/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
*/

/* .bootstrap-input-styles{
   width: 100%;  
  height: calc(2.25rem + 2px); 
  padding: 0.375rem 0.75rem; 
  font-size: 1rem; 
  line-height: 1.5; 
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
} */

.error-message {
  color: red;
  width: 100%;
  max-width: 400px;
  margin: 1 auto;
  text-align: center;
  padding: 5px;
  border-radius: 5px;
  font-size: 15px;
}
.form-required-message {
  color: red;
  width: 100%;
  border-radius: 5px;
  font-size: 14px;
}
.form-check {
  font-size: 15px;
  color: rgb(98, 98, 101);
}

.signup-button {
  background-color: rgb(245, 110, 26);
  color: white;
}
.signup-button:hover {
  background-color: rgb(220, 97, 20);
  color: white;
}

.form-title {
  color: rgb(15, 7, 130);
  font-weight: bold;
}
.signup-form-notes {
  color: rgb(236, 91, 13);
  font-size: 12px;
}

#verifyPageTitle {
  background-color: rgb(202, 200, 200);
}

.fox-color {
  color: rgb(245, 110, 26);
}

.login-policy-links {
  color: #646cff;
}
