# Root and Server  Environment Variables
MYSQL_ROOT_PASSWORD=admin12345
DB_HOST=mysql-db
DB_NAME=foxdrive
DB_USER=adminX
DB_PASS=mydb9264
DB_PORT=3306
EXPRESS_PORT=3000
FRONTEND_URL=http://localhost:5173
NODE_ENV=development
JWT_SECRET=your_jwt_secret
ACCESS_TOKEN_SECRET=your_access_token_secret
REFRESH_TOKEN_SECRET=your_refresh_token_secret
APP_EMAIL_ADDRESS=your_app_email_address
APP_EMAIL_PASS=your_email_password
SESSION_SECRET=your_session_secret_key
TWILIO_ACCOUNT_SID=you_dont_need_for now
TWILIO_PHONE_NUMBER=you_dont_need_for now
TWILIO_AUTH_TOKEN=you_dont_need_for now


# Client Environment Variables
VITE_API_BASE_URL=http://localhost:3000/api/v1