/* @media (max-width: 576px) {
    #brandName, #brandSlogan {
      font-size: smaller;
      height: auto;
    }
  
    .container-custom {
      padding: 1rem; 
    }
  }
  
  .img-fluid {
    max-width: 70%; 
    height: auto;
  } */
  
  /* .container-custom {
    color: #515764;
  }
   */

   body{
     background-color: #ffffff;
   }