.dashboard-layout {
    display: flex;
    flex-direction: column;
    height: 100vh; 
    overflow: hidden; 
  }
  

  .content-area {
    flex-grow: 1;
    display: flex;
    overflow: hidden; 
  }
  

  .sidebar {
    flex-shrink: 0; 
    background-color: #dadee1; 
    overflow-y: auto; 
  }
  
  .main-content {
    flex-grow: 1;
    overflow-y: auto; 
    padding: 20px; 
  }
  
 
  .dashboard-footer {
    background-color: #2e8af3; 
    color: white;
    padding: 10px 0; 
    text-align: center; 
  }
  
  
  