@media (max-width: 768px) {
  #mainFooter {
    min-height: auto; /* Ayarlanabilir yükseklik */
    padding: 10px 5px; /* Daha küçük yatay padding */
  }

  #mainFooter ul {
    flex-wrap: wrap; /* Liste öğelerini sar */
    justify-content: center;
  }

  #mainFooter ul li {
    margin: 2px 5px; /* Liste öğeleri arasında daha küçük boşluk */
  }
}

#mainFooter {
  position: relative;
  font-size: small;
  width: 100%;
  border-top: 1px solid #c4c6c4;
  padding: 10px;
  color: #0c5460;
  min-height: 200px;
}

#mainFooter a {
  color: #646cff;
  text-decoration: none;
}
#mainFooter a:hover {
  text-decoration: underline;
}

